    #cabecera,
    #logo {
        float: left;
        width: 10em;
    }
    
    #imagenlogo {
        width: 2em;
        height: 2em;
    }
    
    #cabecera,
    #suscripcion {
        float: right;
    }
    
    #cabecera,
    #menu {
        border: 10px;
        background-color: #F2AA1F;
    }
    
    #cabecera {
        clear: both;
    }
    
    #menu {
        width: 100%;
        margin-top: 50px;
    }
    
    #menu_principal {
        text-decoration: none;
        color: #fff;
        display: flex;
        justify-content: space-evenly;
        padding: 35px;
        font-family: Indie Flower, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        list-style-type: none;
        font-size: 1.6em;
    }
    
    #menu_principal:hover {
        background: papayawhip;
    }
    
    h1,
    h2 {
        font-family: Indie Flower, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: xx-large;
        color: #4682b4;
    }
    
    .jp {

        padding: 20px;
        color: black;

        margin-right: 20em;
        margin-left: 20em;
        margin-block-end: 1em;
        font-family: Indie Flower, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        background-image: url();

    }
    /**.jp {
        border: solid black;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 0;
        color: whitesmoke;
        background-image: url(https://i.pinimg.com/originals/9b/c9/8f/9bc98f55db5737c6b9601ea215f14467.jpg);
        background-size: 1600px;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-right: 1px;
        margin-left: 0px;
    }**/
    
    .figure {
        position: absolute;
    }
    
    .contenido {
        display: flex;
        text-indent: 0px;
        justify-content: space-around;
        align-items: center;
        font-size: 1.6em;
        padding: 30px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        margin-left: auto;
        border-radius: 20px;
    }
    
    .cabezera {
        display: flex;
        font-size: 1em;
        padding: 0.5em;
        border-radius: 20px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        margin-left: auto;
        justify-content: space-between;
        align-items: center;
        background-color: aquamarine;
    }
    /***footer***/
    
    .root {
        margin-top: 3em;
        border: 4px;
        background-color: #f2aa1f;
        width: 100%;
        color: black;
        font-family: Indie Flower, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1em;
    }
    
    .end {
        float: right;
    }
    
    .social {
        padding: 20px;
    }
    
    .footer {
        list-style: -moz-linear-gradient();
        margin: auto;
        display: block;
    }
    /****html***/
    
    #sub-fondo {

        background-image: url(https://img.freepik.com/foto-gratis/muro-hormigon-blanco_53876-92803.jpg?size=626&ext=jpg);
    }
    /***body**/
    
    .fondo {

        padding: 1em;
        background-image: url(https://images.unsplash.com/photo-1546453667-8a8d2d07bc20?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGV4dHVyZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
    }
    
    .detalles {
        width: 214px;
        height: 152px;
        object-fit: cover;
        object-position: 80% 100%;
    }
    
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-family: Indie Flower, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .cuadro {
        float: right;
        width: 170px;
        min-height: 200px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 10px;

    }